* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
}
.one {
  width: 5vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0;
  align-items: center;
  justify-content: space-between;
}
.two {
  width: 65vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.three {
  width: 30vw;
  height: 100vh;
  background-color: rgb(23, 84, 123);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.one div {
  width: 2.75rem;
  height: 2.75rem;
  background-color: gray;
}
.one :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
}
.circle {
  /* margin-top: auto; */
  border-radius: 100%;
}
.d1 {
  width: 100%;
  height: 10rem;
}

.txt {
  height: 2.5rem;
  width: 12rem;
  background-color: lightgray;
  margin: 4rem 0 0 2rem;
  padding: 12px 0 12px 5px;
}
hr {
  border: solid;
  color: lightgray;
}
.circle2 {
  width: 2.75rem;
  height: 2.75rem;
  background-color: gray;
  border-radius: 100%;
  display: none;
}
.three div {
  width: 55%;
  height: 4rem;
  background-color: rgb(238, 238, 238);
  margin-top: 3rem;
}
@media (max-width: 500px) {
  .three {
    display: none;
  }
  .circle {
    display: none;
  }
  hr {
    display: none;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .one {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: flex-start;
    padding-left: 1.5rem;
  }
  .circle2 {
    display: block;
    margin-left: 130%;
    margin-top: 125%;
  }
}
